* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F0F7EE;
}

.s1 {
  /*background-image: url("./img/dierenvriend2-E.jpg");
  background-size: cover;*/
  background-color: #FFF4E3;
}

.s1 a {
  color: #24B4B1;
  text-decoration: none;
  cursor: pointer;
}

.s1 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.s1 a:active {
  color: hotpink;
  cursor: pointer;
}

.s1 a:visited {
  color: #01283B;
  cursor: pointer;
}

.section h1 {
  font-size: 64px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.s2 {
  background-color: #24B4B1;
}

.s2 a {
  color: #01283B;
  text-decoration: none;
  cursor: pointer;
}

.s2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.s2 a:active {
  color: hotpink;
  cursor: pointer;
}

.s2 a:visited {
  color: #fff;
  cursor: pointer;
}

.s3 {
  background-color: #0C4966;
  color: #FFF4E3;
}

.s3 a {
  color: #FF766E;
  text-decoration: none;
  cursor: pointer;
}

.s3 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.s3 a:active {
  color: hotpink;
  cursor: pointer;
}

.s3 a:visited {
  color: #FFF4E3;
  cursor: pointer;
}

.s4 {
  background-color:  #9CEFEE;
  color:#0C4966;
}

.s4 a {
  color: #D85D56;
  text-decoration: none;
  cursor: pointer;
}

.s4 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.s4 a:active {
  color: hotpink;
  cursor: pointer;
}

.s4 a:visited {
  color: #0C4966;
  cursor: pointer;
}

.s2 h1 {
  font-size: 48px;
}

.chair {
  height: 60%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  margin-top: 20%;
  width: 50%;
  margin-left: 5%;
  font-size: 20px;
  color: #fff;
}

.description p {
  margin: 50px 0px;
}

#stores {
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

#stores p {
  font-weight: bold;
}

#stores ul {
  list-style: none;
}

#barendrecht-winkel {
  margin-right: 30%;
}

#bezorgen {
  margin-top: 4%;
}

.text {
  text-align: center;
  margin: 1%;
}

#meer-bezorgen h1 {
  color: #fff;
}

#woof-logo {
  max-height: 20%;
  top: 50%;
  margin-left: 15%;
}

#bezorger {
  max-height: 40%;
  margin-left: 15%;
  top: 62.5%;
}

#dhl-logo {
  max-height: 20%;
  margin-left: 10%;
  margin-top: -5%;
}

#wrapper-logo {
  max-height: 40%;
  margin: 0 auto;
  display: block;
}

#rotterdam-winkel {
  text-align: right;
}

.dis {
  display: inline;
  font-weight: normal;
  font-size: 16px;
}

#service-kleur {
  color: #0C4966;
}

#meer-dhl h1 {
  text-align: center;
}

@media screen and (max-width: 428px) {
  /* Styles for iPhone 15 */

  body a {
    font-size: 16px;
  }

  #wrapper-logo {
    max-height: 20%;
    margin-bottom: 10%;
  }

  #stores {
    display: flex;
    justify-content: center;
    margin-top: -10%;
    width: 100%;
  }

  .dis {
    display: none;
  }

  #barendrecht-winkel {
    width: 40%;
  }

  #rotterdam-winkel {
    width: 40%;
  }

  #bezorgen {
    margin-top: 8%;
  }

  .section h1 {
    font-size: 40px; /* Adjusted font size for headings */
  }

  .description {
    margin-top: 10%; /* Adjusted margin top for descriptions */
    width: 80%; /* Adjusted width for descriptions */
    margin-left: 10%; /* Adjusted margin left for descriptions */
  }

  .description p {
    margin: 30px 0px; /* Adjusted margin for paragraphs */
    font-size: 16px; /* Adjusted font size for paragraphs */
  }

  #stores {
    margin-top: -5%; /* Adjusted margin top for store information */
  }

  #barendrecht-winkel {
    margin-right: 10%; /* Adjusted margin right for store information */
  }

  #woof-logo {
    display: none;
  }

  #bezorger {
    display: none;
  }

  #dhl-logo {
    display: none;
  }

  #wrapper-logo {
    max-height: 30%; /* Adjusted max height for logos */
  }
}

@media screen and (max-device-width: 768px) {
  .description {
    margin-top: 15%;
    width: 50%;
    margin-left: 5%;
    font-size: 20px;
    color: #fff;
  }
  
  .description p {
    margin: 30px 0px;
  }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: portrait) {
  #wrapper-logo {
    margin-bottom: 10%;
  }

  #woof-logo {
    display: none;
  }

  #bezorger {
    display: none;
  }

  #dhl-logo {
    display: none;
  }

  #bezorger {
    display: none;
  }
}